@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --primary-green: 111, 28%, 49%;
    --secondary-green: 109, 28%, 92%;
    --accent-dark: 204, 9%, 10%;
}

.StarPicker.blueTheme .StarPickerButton {
    transition: color 0.2s;
    color: hsl(111, 28%, 49%);
}

.StarPicker.blueTheme .StarPickerButton.selected {
    color: hsl(111, 28%, 49%);
}

.StarPicker.blueTheme .StarPickerButton.addSelection {
    color: hsl(111, 28%, 49%);
}

.StarPicker.blueTheme .StarPickerButton.removeSelection {
    color: hsl(109, 28%, 92%);
}

.reflect {
    transform: scaleX(-1) rotate(25deg);
}